

<div
  class="col"
  style="
    height: 100%;
    width: 174px;
    margin-left: 11px;
    margin-right: 20px;
  "
>
  <div class="row" style="height: 45px">
    <div
      class="d-flex justify-content-center"
      style="height: 100%; width: 45px"
    >
      <div
        style="
          height: 100%;
          width: 100%;
          border-radius: 100px;
          background-color: #ececec;
        "
      ></div>
    </div>
    <div
      class="col d-flex justify-content-center"
      style="height: 100%; width: 60px"
    >
      <div
        style="
          height: 45px;
          width: 450px;
          border-radius: 16px;
          background-color: #ececec;
        "
      ></div>
    </div>
    <div
      class="d-flex flex-row-reverse justify-content-between"
      style="height: 100%; width: 180px"
    >
      <div
        style="
          height: 45px;
          width: 50px;
          border-radius: 16px;
          background-color: #ececec;
        "
      ></div>
      <div
        style="
          height: 45px;
          width: 50px;
          border-radius: 16px;
          background-color: #ececec;
        "
      ></div>
      <div
        style="
          height: 45px;
          width: 50px;
          border-radius: 16px;
          background-color: #ececec;
        "
      ></div>
    </div>
  </div>
</div>