<html>
  <head>
    <title>Page 3</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./layout.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div
      class="layout-container container-fluid justify-content-center align-items-center h-100"
    >
      <div
        class="testl row d-flex flex-row-reverse justify-content-center align-items-center h-100"
      >
        <div
          id="sidebar-container"
          class="layout-sidebar-container p-3 h-100"
        ></div>

        <div
          class="col"
          style="
            height: 100%;
            width: 174px;
            margin-left: 11px;
            margin-right: 20px;
          "
        ></div>
      </div>
    </div>
    <script src="../shared/pageLoader.js"></script>
    <script src="./layout.js"></script>
  </body>
</html>
