.layout-container {
  padding-top: 15px;
  padding-bottom: 14.5px;
}

.layout-sidebar-container {
  width: 70px;
  border-radius: 16px;
  margin-right: 11px;
  background-color: #7f7f7f;
}

.testl{
    
  background-color: red;
}